includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
        - '#Call to an undefined method Illuminate\\Database\\Schema\\ForeignKeyDefinition::onDelete\(\)#'
    level: 6
    paths:
        - app
